<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.application.erp.repository.OrderRepository">
    <resultMap id="BaseResultMap" type="com.github.application.erp.entity.Order">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="order_number" property="orderNumber" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="order_time" property="orderTime" jdbcType="TIMESTAMP"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="produce_id" property="produceId" jdbcType="BIGINT"/>
        <result column="price" property="price" jdbcType="DOUBLE"/>
        <result column="sale" property="sale" jdbcType="DOUBLE"/>
        <result column="number" property="number" jdbcType="INTEGER"/>
        <result column="order_account" property="orderAccount" jdbcType="VARCHAR"/>
        <result column="order_user" property="orderUser" jdbcType="VARCHAR"/>
        <result column="remove" property="remove" jdbcType="BIT"/>
        <result column="note" property="note" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <resultMap id="Association_ResultMap" type="com.github.application.erp.entity.Order" extends="BaseResultMap">
        <association property="product" columnPrefix="poud_"
                     javaType="com.github.application.erp.entity.Product"
                     resultMap="com.github.application.erp.repository.ProductRepository.BaseResultMap"/>
    </resultMap>


    <sql id="Base_Column_List">
        id, create_time, order_number, name, order_time, phone, email, produce_id, price,
        sale, number, order_account, order_user, remove,note
      </sql>

    <select id="find" resultMap="Association_ResultMap">
        SELECT
        led_order.id,
        led_order.create_time,
        led_order.order_number,
        led_order.`name`,
        led_order.order_time,
        led_order.phone,
        led_order.email,
        led_order.produce_id,
        led_order.price,
        led_order.sale,
        led_order.number,
        led_order.order_account,
        led_order.order_user,
        led_order.note,
        led_order.`remove`,
        product.id poud_id,
        product.producer poud_producer,
        product.contact poud_contact,
        product.email poud_email,
        product.phone poud_phone,
        product.create_time poud_create_time,
        product.update_time poud_update_time,
        product.typ poud_typ,
        product.colour_temperature poud_colour_temperature,
        product.bri poud_bri,
        product.price poud_price,
        product.note poud_note,
        product.remove poud_remove
        FROM
        led_order
        INNER JOIN product ON (product.id = led_order.produce_id)
        <where>
            <if test="pk != null">
                and led_order.id = #{pk.value}
            </if>
            <if test="remove != null">
                and led_order.remove = #{remove}
            </if>
            <if test="startTime != null">
                <![CDATA[   and led_order.order_time >= #{startTime}]]>
            </if>
            <if test="endTime != null">
                <![CDATA[ and led_order.order_time <= #{endTime}]]>
            </if>
            <if test="orderNumber != null">
                <![CDATA[  and led_order.order_number like '%${orderNumber}%']]>
            </if>
            <if test="name != null">
                <![CDATA[  and led_order.`name` like '%${name}%']]>
            </if>
            <if test="phone != null">
                <![CDATA[ and led_order.phone like '%${phone}%']]>
            </if>
            <if test="product != null and product.typ != null">
                <![CDATA[ and product.typ like '%${product.typ}%']]>
            </if>
        </where>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from led_order
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" parameterType="com.github.application.erp.entity.Order" useGeneratedKeys="true"
            keyProperty="id">
        insert into led_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">
                create_time,
            </if>
            <if test="orderNumber != null">
                order_number,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="orderTime != null">
                order_time,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="produceId != null">
                produce_id,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="sale != null">
                sale,
            </if>
            <if test="number != null">
                number,
            </if>
            <if test="orderAccount != null">
                order_account,
            </if>
            <if test="orderUser != null">
                order_user,
            </if>
            <if test="remove != null">
                remove,
            </if>
            <if test="note != null">
                note,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderNumber != null">
                #{orderNumber,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="orderTime != null">
                #{orderTime,jdbcType=TIMESTAMP},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="produceId != null">
                #{produceId,jdbcType=BIGINT},
            </if>
            <if test="price != null">
                #{price,jdbcType=DOUBLE},
            </if>
            <if test="sale != null">
                #{sale,jdbcType=DOUBLE},
            </if>
            <if test="number != null">
                #{number,jdbcType=INTEGER},
            </if>
            <if test="orderAccount != null">
                #{orderAccount,jdbcType=VARCHAR},
            </if>
            <if test="orderUser != null">
                #{orderUser,jdbcType=VARCHAR},
            </if>
            <if test="remove != null">
                #{remove,jdbcType=BIT},
            </if>
            <if test="note != null">
                #{note,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.github.application.erp.entity.Order" useGeneratedKeys="true"
            keyProperty="id">
        update led_order
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderNumber != null">
                order_number = #{orderNumber,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="orderTime != null">
                order_time = #{orderTime,jdbcType=TIMESTAMP},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="produceId != null">
                produce_id = #{produceId,jdbcType=BIGINT},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DOUBLE},
            </if>
            <if test="sale != null">
                sale = #{sale,jdbcType=DOUBLE},
            </if>
            <if test="number != null">
                number = #{number,jdbcType=INTEGER},
            </if>
            <if test="orderAccount != null">
                order_account = #{orderAccount,jdbcType=VARCHAR},
            </if>
            <if test="orderUser != null">
                order_user = #{orderUser,jdbcType=VARCHAR},
            </if>
            <if test="remove != null">
                remove = #{remove,jdbcType=BIT},
            </if>
            <if test="note != null">
                note = #{note,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updates" parameterType="list" useGeneratedKeys="true" keyProperty="id">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update led_order
            <set>
                <if test="item.createTime != null">
                    create_time = ${item.createTime},
                </if>
                <if test="item.orderNumber != null">
                    order_number = ${item.orderNumber},
                </if>
                <if test="item.name != null">
                    name = ${item.name},
                </if>
                <if test="item.orderTime != null">
                    order_time = ${item.orderTime},
                </if>
                <if test="item.phone != null">
                    phone = ${item.phone},
                </if>
                <if test="item.email != null">
                    email = ${item.email},
                </if>
                <if test="item.produceId != null">
                    produce_id = ${item.produceId},
                </if>
                <if test="item.price != null">
                    price = ${item.price},
                </if>
                <if test="item.sale != null">
                    sale = ${item.sale},
                </if>
                <if test="item.number != null">
                    number = ${item.number},
                </if>
                <if test="item.orderAccount != null">
                    order_account = ${item.orderAccount},
                </if>
                <if test="item.orderUser != null">
                    order_user = ${item.orderUser},
                </if>
                <if test="item.remove != null">
                    remove = ${item.remove},
                </if>
                <if test="item.note != null">
                    note = ${item.note},
                </if>
            </set>
            where id = ${item.id}
        </foreach>
    </update>
</mapper>